.add-task {
  height: min-content;
  position: relative;
  width: 100%;
  left: 16px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: max-content;
  height: max-content;
  position: sticky;
  top: 590px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

form button {
  background-color: #e91e69;
  color: white;
  width: 150px;
  border-radius: 5px;
  margin: 5px;
}

form input {
  margin-top: 5px;
  border: 1px solid black;
  width: 255px;
  height: 30px;
  border-radius: 5px;
}
