.edit-task {
  position: fixed;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-form {
  background-color: white;
  width: 500px;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.edit-form button,
.edit-form input {
  width: 95%;
  height: 80px;
}
